h1
{
    color:darkorange;
    padding-left: 2rem;
}

nav
{
    background-color: darkorange;
    width: 100vw;
}

nav ul
{
    list-style: none;
    height: 3vh;
    margin: 0;
    padding: 0;
}

.links
{
    float:left;
    text-align: center;
}

.links li
{
    float:left;
    padding: 4vh 1vh;
    background-color: yellow;
    width: 12vw;
    white-space: nowrap;

    transition: background-color 0.2s;
}

li:hover
{
    background-color: darkgoldenrod;
}

.hamburger-menu
{
    float:right;
    height: 6.3vh;
    padding: 2vh;
    background-color: yellow;
    visibility: hidden;
}

.hamburger-menu img
{
    height:6vh;
}

#hamburger-menu-dropdown
{
    float:left;
    list-style-type: none;
    display: flex;
}

#hamburger-links
{
    visibility: hidden;
    background-color: orange;
    display: flex;
}

#hamburger-menu-dropdown li
{
    width:100vw;
    padding: 4vh 0vw;
    padding-left: 5vw;
    margin: 0;
}

@media screen and (max-width: 1920px)
{
    .links
    {
        display: flex;
    }

    .links li
    {
        width: 12vw;
    }
}

@media screen and (max-width:600px)
{

    .links
    {
        visibility: hidden;
    }

    .hamburger-menu
    {
        visibility: visible;
    }
}

.shop-container
{
    display: grid;
    outline: 2px solid darkorange;
    width: 95vw;
    height: 38vw;
    grid-template-columns: 19vw 19vw 19vw 19vw 19vw;
    grid-template-rows: 19vw 19vw;
}

.item
{
    outline: 2px solid darkorange;
}

.item:hover .cube
{
    animation-duration: 30s;
    animation-play-state: running;
}

.cube-title
{
    text-align: center;
    text-decoration: underline;
}

.price
{
    text-align: center;
    margin-top: 13vw;
}

.cube 
{
    --cube-size: 5vw;

    transform-style: preserve-3d;
    animation: spin 60s infinite linear;
    animation-play-state: paused;
    position: relative;
    width: var(--cube-size);
    height: var(--cube-size);
    top: 50%;
    left: 50%;
    margin-left: calc(var(--cube-size) / 2 * -1);
    margin-top: -9vw;
}

.cube div 
{
    width: var(--cube-size);
    height: var(--cube-size);
    line-height: var(--cube-size);
    text-align: center;
    /* background: rgba(190, 0, 0, 0.6); */
    /* outline: 1px inset black; */
    box-shadow: inset 0px 0px 0px 1px rgba(10, 0, 0, 0.8);
    display: block;
    position: absolute;
}

.cube div.top 
{
    background: rgba(190, 0, 0, 0.6);
    transform: rotateX(90deg);
    margin-top: calc(var(--cube-size) / 2 * -1);
}

.cube div.right 
{
    background: rgba(0, 190, 0, 0.6);
    transform: rotateY(90deg);
    margin-left: calc(var(--cube-size) / 2);
}

.cube div.bottom
{
    background: rgba(0, 0, 190, 0.6);
    transform: rotateX(-90deg); 
    margin-top: calc(var(--cube-size) / 2);
}

.cube div.left 
{
    background: rgba(190, 0, 190, 0.6);
    transform: rotateY(-90deg); 
    margin-left: calc(var(--cube-size) / 2 * -1);
}

.cube div.front 
{
    background: rgba(190, 190, 0, 0.6);
    transform: translateZ(calc(var(--cube-size) / 2));
}

.cube div.back 
{
    background: rgba(190, 190, 190, 0.6);
    transform: translateZ(calc(var(--cube-size) / 2 * -1)) rotateX(180deg);
}

@keyframes spin 
{
    0% {transform: rotateX(20deg) rotateY(20deg) rotateZ(20deg);}
    100% {transform: rotateX(740deg) rotateY(740deg) rotateZ(740deg);}
}

/* @media (prefers-color-scheme:dark) {
    
} */